.button-form {
    background-color: #F8B195;
    color: #503861;
    width: 350px;
    height: 50px;
    font-size: large;
    font-weight: bolder;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.button-edit:hover {
    background-color: #503861;
    color: white;
}

img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}